<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/styling.css">
<head>
    <<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" charset="utf-8">
    <title>Pizza Game</title>
</head>
<body class="start-body">


<header class="start-header">
    <br>
    Start Your Own Pizza House!

    <form action="pizzagame/new-restaurant" method="get">
        <label>
            <button class="start-button" type="submit">TAKE A LOAN OF $50000 AND START YOUR BUSINESS</button>
        </label>
    </form>
    <br>




</header>


</body>
</html>